/* FOOTER
-------------------------------------------------------------------------------------------------------------------------------------- */

.footer_container {
  --widget_flex_direction: row;
  --widget_padding: 10px;
  --widget_font_size: 16px;
  display: grid;
  grid-template-columns: auto minmax(auto, var(--theme_main_column_width)) auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". widget ."
    ". copyright .";
  background-color: #1414146b;
}

.footer_widget_container {
  grid-area: widget;
  width: 100%;
  display: flex;
  flex-direction: var(--widget_flex_direction);
  gap: 10px;
  padding: var(--widget_padding);
}

.widget_area {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  font-size: var(--widget_font_size);
  color: var(--theme_footer_text_color);
}
.widget_area:not(:first-child) {
  border-left: 2px solid var(--theme_primary_color);
}

.widget_area h2,
.widget_area h3,
.widget_area h4 {
  font-weight: 400;
  padding: 4px 0;
}

.copyright {
  grid-area: copyright;
  justify-self: center;
  padding: 6px 0;
  font-size: 14px;
  color: var(--theme_footer_text_color);
}
