/* HEADER 
------------------------------------------------------------------------------------*/

.header_container {
  position: fixed;
  display: grid;
  grid-template-columns: auto minmax(auto, var(--theme_main_column_width)) auto;
  grid-template-areas: ". header ";
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    180deg,
    rgba(var(--theme_header_bg_color), 0.7) 0%,
    rgba(var(--theme_header_bg_color), 0.15) 100%
  );
  backdrop-filter: blur(20px);
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header_padding);
  border-radius: 10px;
  text-decoration: none;
  font-size: var(--header_font_size);
}

.header .nav {
  display: var(--header_nav_display);
}

.header .nav .menu {
  display: flex;
  height: 100%;
  gap: 10px;
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-logo {
  position: relative;
  width: 120px;
  height: auto;
  z-index: 2000;
}

.logo_text {
  position: relative;
  white-space: nowrap;
  color: var(--theme_primary_color);
  z-index: 2000;
}

.menu-item a,
.home_link a {
  font-size: var(--nav_link_font_size);
  color: var(--theme_nav_link_color);
  transition: 0.2s ease-out;
  border-bottom: 2px solid transparent;
}

.menu-item a:hover,
.home_link a:hover,
.current_page_item a {
  color: var(--theme_primary_color);
  border-bottom: 2px solid var(--theme_primary_color);
}

.logo_text,
.menu-item a {
  text-decoration: none;
}

/* MOBILE MENU
----------------------------------------------------------------------------------------------------------- */

.menu_button {
  position: relative;
  display: var(--header_menu_button_display);
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 2000;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: var(--theme_primary_color);
}

.menu_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background-color: var(--theme_primary_color);
  transition: 0.2s ease-out;
  z-index: 1000;
}

.menu_nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.menu_nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.menu_nav .menu .menu-item a {
  padding: 4px 6px;
  color: var(--theme_menu_text_color);
  border: 2px solid var(--theme_menu_text_color);
  font-size: 30px;
}

/* MENU WIDGET AREA */

.menu_bottom_area {
  padding: 20px 10px 32px 10px;
  font-size: 14px;
  border-top: 1px solid var(--theme_menu_text_color);
}

.menu_bottom_area .menu_widget_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_bottom_area .menu_widget_area h2,
.menu_bottom_area .menu_widget_area h3,
.menu_bottom_area .menu_widget_area h4,
.menu_bottom_area .menu_widget_area p,
.menu_bottom_area .menu_widget_area a {
  color: var(--theme_menu_text_color);
}

/* MENU OPEN CLASS */

.menu_open {
  visibility: visible;
  opacity: 1;
}

.logo_switch_color {
  color: var(--theme_menu_text_color);
}

.menu_btn_switch_color {
  background-color: var(--theme_menu_text_color);
}
